body {
    font-family: Arial, sans-serif;
    background-color: #0f0122;
    color: #9537d3;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 200px 450px;
    padding: 50px 100px 100px 100px;
    background-color: #49129189;
    border-radius: 20px;
    box-shadow: 10px 10px rgb(66, 10, 104);
}


input[type="text"],
input[type="password"],
input[type="email"],
button {
    
    background-color: rgba(81, 41, 125, 0.449);
    color: #f43bfebd;
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0px;
}

button {
    box-shadow: 3px 3px rgb(66, 10, 104);
    background-color: #4d07af;
    color: #c184ea;
    border: none;
    cursor: pointer;
    width: 101%;
}

button:hover {
    background-color: #3c0a8c;
}

table {
    background-color: rgba(81, 41, 125, 0.449);
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #3a034e;
    padding: 8px;
    text-align: left;
}

th {
    background-color: rgba(81, 41, 125, 0.449);
}
